{% extends "base.html" %}

{% block title %}List of Tournaments{% endblock %}


{% block content %}

<table id="Tournaments">
<tr>
    <th>id</th>
    <th>event name</th>
    <th>event date</th>
    <th>event_type_id</th>
</tr>
{% for row in tournaments %}
    <tr>
        <td> <a href="/tournaments/view_tournament/{{row.id}}" > {{row.id}} </a> </td>
        <td>{{row.event_name}}</td>
        <td>{{row.event_date}}</td>
        <td>{{row.event_type_id}}</td>
    </tr>

{% endfor %}


</table>

{% endblock %}