
{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}

<table id="Tournaments">
<tr>
    <th>id</th>
    <th>round</th>
    <th>table number</th>
    <th>result</th>
    <th>player id</th>
    <th> player_name </th>
</tr>
{% for row in this_tournament %}
    <tr>
        <td> <a > {{row.id}} </a> </td>
        <td>{{row.round}}</td>
        <td>{{row.table_number}}</td>
        <td>{{row.result}}</td>
        <td> <a href="/tournaments/player/{{row.player_id}}"> {{row.player_id}} </a></td>
        <td> {{row.player_id__first_name}} {{row.player_id__last_name}} </td>
    </tr>

{% endfor %}


</table>

{% endblock %}