<!DOCTYPE html>
<html>
<head>
<style>
#Tournaments {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Tournaments td, #Tournaments th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Tournaments tr:nth-child(even){background-color: #f2f2f2;}

#Tournaments tr:hover {background-color: #ddd;}

#Tournaments th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>


<table id="Tournaments">
<tr>
    <th>id</th>
    <th>round</th>
    <th>table number</th>
    <th>result</th>
    <th>player id</th>
    <th> player_name </th>
</tr>
{% for row in this_tournament %}
    <tr>
        <td> <a > {{row.id}} </a> </td>
        <td>{{row.round}}</td>
        <td>{{row.table_number}}</td>
        <td>{{row.result}}</td>
        <td> <a href="/tournaments/player/{{row.player_id}}"> {{row.player_id}} </a></td>
        <td> {{row.player_id__first_name}} {{row.player_id__last_name}} </td>
    </tr>

{% endfor %}


</table>

</body>
</html>